# Ansible production inventory
ansible/production
ansible/**/*.retry

# Ansible reclass stuff
ansible/inventory/nodes/**/*.yml

# Python/pylint/flake8 stuff
**/.coverage
**/.pyi
**/__pycache__/
**/*.egg-info/
**/.venv

# SQLite
**/*.db

# Gradle
**/.gradle
lib/
android-client/gradle/wrapper/gradle-wrapper.jar

# IntelliJ
**/.idea
**/*.iml

# Android
**/local.properties

# Android Client artifacts
android-client/app/src/main/jniLibs/
android-client/app/build/
android-client/captures/

# Temporary Vim files
**/*.tmp
**/*.swp

# Android app jars
android-client/app/libs/*.jar

# Android APKs inside Ansible
ansible/roles/hermes-node/files/*.apk

# MYPY
**/.mypy_cache/

# Random stuff
**/*.csv
**/*.csv#

# Carbon Ledger Stuff
carbon-ledger/build
carbon-ledger/dist
