# Ansible production inventory
./ansible/production

# Python/pylint/flake8 stuff
**/.coverage
**/.pyi
**/__pycache__/
**/*.egg-info/

# SQLite
**/*.db

# Gradle
**/.gradle

# IntelliJ
**/.idea
**/*.iml

# Android
**/local.properties

# Android Client artifacts
android-client/app/src/main/jniLibs/
android-client/app/build/
