[submodule "carbon"]
	path = carbon
	url = git@github.com:graphite-project/carbon.git
[submodule "entangled"]
	path = entangled
	url = git@github.com:iotaledger/entangled
[submodule "iota-java"]
	path = iota-java
	url = git@github.com:ptzianos/iota-java.git
