<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.hermes">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name="org.hermes.HermesClientApp"
            android:allowBackup="true"
            android:exported="false"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:installLocation="internalOnly"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <service
                android:name="org.hermes.service.LedgerService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity
                android:name="org.hermes.activities.LoginActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="org.hermes.activities.SetupActivity"
                android:label="@string/title_activity_setup">
        </activity>
        <activity
                android:name="org.hermes.activities.EventActivity"
                android:label="@string/title_activity_event">
        </activity>
    </application>

</manifest>